/* ============================ */
/* TABLE OF CONTENTS */
/* ============================ */

/*
0.1 BASICS
0.2 TYPOGRAPHY 
0.3 UTILITIES
0.4 ELEMENTS
*/


/* =========== BASICS =========== */

html {
	font-size: 10px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 1.5rem;
	font-weight: normal;
}

::selection {
	background-color: #f88601;
	color: #ffffff;
}

::-moz-selection {
	background-color: #f88601;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
}

/* ---------- Containers ---------- */ 
.container {
	max-width: 980px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

section {
	margin-top: 5rem;
	margin-bottom: 5rem;
	position: relative;
}

.cs {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* =========== TYPOGRAPHY =========== */

h1 {
	font-family: 'Brandon Grotesque', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 5rem;
	letter-spacing: 4px;
	margin-bottom: 3rem;
	margin-top: 2rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-family: 'Brandon Grotesque', sans-serif;
	font-weight: bold;
	/*color: #f88601;*/
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 3px;
}

/* =========== UTILITIES =========== */

.text-orange {
	color: #f88601!important;
}

.c-btn,
.c-btn--alt,
.c-btn--invert {
	background-color: #f88601;
	color: #ffffff;
	font-family: 'Brandon Grotesque', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.2rem;
	border-radius: 3px;
	padding: .5rem 1.25rem;
	letter-spacing: 2px;
	transition: .2s ease all;
	display: inline-block;
}

.c-btn {
	border: 2px solid #f88601;
}

.c-btn:hover {
	color: #f88601;
	background-color: #ffffff;
	text-decoration: none;
}

.c-btn--alt {
	background-color: rgba(0,0,0,.8);
	font-family: 'Crimson Text', serif;
	font-weight: normal;
	padding: .8rem 1.5rem;
}

.c-btn--invert {
	background-color: transparent;
	border: 2px solid #f88601;
	color: #f88601;
}

.c-btn--invert:hover {
	color: #f88601;
}

/* =========== ELEMENTS =========== */

/* ---------- Menu ---------- */ 

/* Logo */
.c-logo-container {
	background-color: #f88601;
	padding: 3.5rem 1em;
	z-index: 10;
}

.c-logo {
	max-width: 7.5rem;
}

/* Nav */
.navbar {
	padding: 0 2rem 0 0;
	font-family: 'Brandon Grotesque', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.3rem;
}

.navbar-nav {
	flex-grow: 1;
	transition: .5s ease all;
	position: relative;
	right: 0;
}

.navbar-nav.slide {
	right: 100%;
	transition: .5s ease all;
}	

.nav-link,
.nav-link:hover {
	color: #ffffff;
}

.navbar-expand .navbar-nav .nav-link {
	padding-left: 0;
	padding-right: 0;
}

.nav-item {
	padding-left: 2rem;
	padding-right: 2rem;
}

.nav-item.active .nav-link {
	border-bottom: 3px solid #f88601;
	padding-bottom: 1.5rem;
}

/* ---------- Masthead ---------- */ 

#masthead {
	min-height: 100vh;
	background-color: black;
	margin-top: 0;
	color: #ffffff;
	position: relative;
}


#masthead h1 {
	font-size: 13vw;
	line-height: 110%;
}

/* ---------- Rectangle accents ---------- */ 

.accent-container {
	position: absolute;
	max-width: 16vw;
}

.accent-container-global {
    top: 90%;
    right: 10%;
}

.accent-container-funny {
    top: 85%;
    left: 0;
    transform: translateX(-50%);
}

.accent-container-elevated {
    top: 85%;
    left: 0;
    transform: translateX(-60%);
}

.accent-container-prostegious {
	top: 90%;
	left: 50%;
}

.accent-container-hopeful {
    top: 50%;
    left: 0;
    transform: translateX(-65%);
}

.accent-container-different {
    top: 90%;
    right: -5%;
}

.accent-container-footer {
	right: 5%;
    bottom: 0;
    transform: translateY(70%);
}

/* ---------- Side Menu ---------- */ 

.sidenav {
	position: absolute;
	top: calc(100% + 7rem);
    left: 0;
    font-style: italic;
    font-size: 1.8rem;
    z-index: 10;
    /*transition: .3s ease top;*/
}

.sidenav.active {
	position: fixed;
	top: calc(50% - 4rem);
    transform: translateY(-50%);
    /*transition: .3s ease top;*/
}

.sidenav-nav {
	list-style-type: none;
	position: relative;
	padding-left: 0;
}

.sidenav-nav li {
	position: relative;
	padding-left: 5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.sidenav-nav li a {
	color: black;
}

.sidenav-nav li.active:before {
	content: '';
	border-bottom: 2px solid #f88601;
	position: absolute;
	top: 50%;
	left: -2.5rem;
	width: 100%;
}

/* ---------- Case studies ---------- */ 

.cs-left {
	background-image: url('../images/grey-bg-right.png');
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: right top;
}

.cs-right {
	background-image: url('../images/grey-bg-left.png');
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: left top;
}

.thumb-left {
	margin-left: -15px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
}

.thumb-global {
	box-shadow: none;
}

.cs-left .view-cs {
	padding-right: 0;
}

.cs-right .view-cs {
	padding-right: 0;
}

.thumb-right {
	margin-right: -15px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
}

.cs-left .view-cs__btn,
.cs-right .view-cs__btn {
	font-family: 'Brandon Grotesque', sans-serif;
	font-weight: bold;
	color: #f88601;
	text-transform: uppercase;
	font-size: 1.8rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg) translateX(100%);
    transform-origin: 100% 100%;
}

.cs-right .view-cs__btn {
	left: 0;
    right: auto;
    transform: translateX(-100%) rotate(-90deg);
}


.view-cs__btn:hover {
	color: #f88601;
}


/* ---------- Launches ---------- */ 

.launch {
	position: relative;
	background-position: center center;
	margin: .3rem;
	background-size: 120%;
	transition: .2s ease all;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	flex-basis: calc(25% - .6rem);
}

.launch:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.launch:hover {
	background-size: 100%;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.launch__logo {
	max-height: 60px;
}

.launch-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#launch-signal {
	background-image: url('../images/bg-signal.png');
}

#launch-urbanbelly {
	background-image: url('../images/bg-urbanbelly.png');
}

#launch-j {
	background-image: url('../images/bg-j.png');
}

#launch-aoa {
	background-image: url('../images/bg-aoa.png');
}

#launch-lbp {
	background-image: url('../images/bg-lbp.png');
}

#launch-adler {
	background-image: url('../images/bg-adler.png');
}

#launch-hinsdale {
	background-image: url('../images/bg-hinsdale.png');
}

#launch-smith {
	background-image: url('../images/bg-smith.png');
}

#launch-riverline {
	background-image: url('../images/bg-riverline.png');
}

#launch-venturesummit {
	background-image: url('../images/bg-venturesummit.png');
}

#launch-immediatecare {
	background-image: url('../images/bg-immediatecare.png');
}

#launch-goshena {
	background-image: url('../images/bg-goshena.png');
}

#launches .container {
	max-width: 1200px;
	width: 90%;
}


/* ---------- Footer ---------- */ 

footer {
	color: #767676;
	font-family: 'Brandon Grotesque', sans-serif;
	font-size: 1.2rem;
	padding-bottom: 5rem;
}

footer .container {
	max-width: 1200px;
	width: 90%;
}

.footer-copyright span {
	margin-right: 1.5rem;
}

.footer-copyright i {
	margin-right: .5rem;
	color: #cdcdcd;
}

.footer-social span {
	background-color: #767676;
	padding: .4rem .6rem;
	border-radius: 100%;
	margin-right: 1.5rem;
}

.footer-social span.fb {
	background-color: #3b5a97;
}

.footer-social span.insta {
	background-color: #135688;
}

.footer-social span.yt {
	background-color: #e14e42;
}

.footer-social span.fk {
	background-color: #e1e1e1;
}

.footer-social span.tw {
	background-color: #2aa9e0;
}

.footer-social span.li {
	background-color: #028cb5;	
}

.footer-social i {
	color: #ffffff;
	font-size: .9em;
}

/* ---------- Signoff ---------- */ 

#signoff {
	background-color: #000;
	color: #fff;
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-bottom: 0;
	min-height: 30vw;
	overflow: hidden;
}

#signoff h2 {
	font-size: 4rem;
	margin-top: 0;
}

#signoff .c-btn--invert {
	font-size: 1.5rem;
	padding: 1.2rem 2.5rem;
	margin: 0 1.5rem;
}


